player-connection-mode=Listen
player-connection-guid=561460173
player-connection-debug=0
player-connection-project-name=Project_Infinity
player-connection-ip=192.168.88.9
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=d6af74a694cf4f83ae51624a1c072b63
