player-connection-mode=Listen
player-connection-guid=3194660654
player-connection-debug=0
player-connection-project-name=Project_Infinity
player-connection-ip=192.168.88.9
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=32e4d4a373b943c08aa43c63f112ef35
