player-connection-mode=Listen
player-connection-guid=2530887035
player-connection-debug=0
player-connection-project-name=Project_Infinity
player-connection-ip=192.168.88.4
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=16aa9cec6ba843278595b79f35a87403
