player-connection-mode=Listen
player-connection-guid=742291918
player-connection-debug=0
player-connection-project-name=Project_Infinity
player-connection-ip=192.168.88.6
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=6ddae36b2b6c4dadb9ad185ec53e2c12
